@{
    ViewBag.Title = "Home Page";
}

<section class="slider-section">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Images/2.jpg" width="1648" height="600" alt="">
                <div class="carousel-caption">
                    <h2>PANTOFI <b>&</b> TOCURI</h2>
                    <h3>DE LA CEL MAI BUN BRAND DIN ROMANIA</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/3.jpg" width="1648" height="600" alt="">
                <div class="carousel-caption">
                    <h2>PANTOFI <b>&</b> TOCURI</h2>
                    <h3>DE LA CEL MAI BUN BRAND DIN ROMANIA</h3>
                </div>
            </div>
            <div class="item ">
                <img src="~/Images/4.jpg" width="1648" height="600" alt="">
                <div class="carousel-caption">
                    <h2>PANTOFI <b>&</b> TOCURI</h2>
                    <h3>DE LA CEL MAI BUN BRAND DIN ROMANIA</h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</section>

<section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                <div class="service-item">
                    <i class="pe-7s-global"></i>
                    <h3>INOVATIE</h3>
                    <p>Produsul nostru ofera o inovatie in domeniul modei, un ajutor pentru femeile de toate varstele. Pantofii cu toc detasabil reprezinta o noutate in tara nostra.Pantofii nostri sunt comozi, din diverse materiale, iar tocul poate fi indepartat sau schimbat cu altul foarte simplu si usor</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                <div class="service-item">
                    <i class="pe-7s-settings"></i>
                    <h3>MECANISM</h3>
                    <p>
                        1.Trage de clapeta de pe talpa pentru a debloca mecanismul
                        <br>2.In acelasi timp se indeparteaza tocul si se inchide clapeta</br>
                        3.Se inlocuieste cu un altul si se apasa pe acesta
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                <div class="service-item">
                    <i class="pe-7s-safe"></i>
                    <h3>RETURNARE BANI 100%</h3>
                    <p>In cazul in care nu sunteti satisfacuti in totalitate de produsele noastre, noi va garantam rambursarea banilor.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                <div class="service-item">
                    <i class="pe-7s-headphones"></i>
                    <h3>NU GASITI CEEA CE DORITI?</h3>
                    <p>
                        Puteti veni la magazinul central, cel mai mare din lantul de magazine, si isi poate crea propriul model, cu propriile colori si marimi. Un avantaj al nostru este ca facem incaltaminte speciala pe comanda pentru persoanele cu probleme ale piciorului.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>