@model Proiect.Models.Review
@if (TempData.ContainsKey("message"))
{
    <p class="error_msg"><i class="glyphicon glyphicon-ok-circle"> </i> @TempData["message"]</p>
}

<div class="row">
    <div class="col-md-12">
        <div class="titie-section wow fadeInDown animated ">
            <h1>Editare Review</h1>
        </div>
    </div>
</div>

@using (Html.BeginForm("Edit", "Reviews", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
{@Html.HttpMethodOverride(HttpVerbs.Put)

@Html.AntiForgeryToken()
<div class="my-review">
    <div class="fieldset">

        <label class="fs-title">
            Rating-ul tau <span style="font-weight:normal;">(1 stea e prost, 5 stele e bun)</span>
        </label>

        <div onmouseout="CRateSelected()">
            <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
        </div>

        <label class="fs-title">
            Continutul review-ului:
        </label>
        <textarea name="Content" id="Content" required rows="5" style="width:100%;" class="form-control">@Model.Content</textarea>

        <input type="hidden" name="ReviewId" value="@ViewBag.ReviewId" />
        <input type="hidden" name="Rating" id="Rating" value="0" />
        <input type="submit" id="btnRegister" name="btnRegister" value="Editeaza review" class="action-button" />

    </div>
</div>
}

<script>
    function SubmitComment() {
        if ($("#Rating").val() == "0") {
            alert("Please rate this service provider.");
            return false;
        }
        else {
            return true;
        }
    }

    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
</script>
